<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <app-login></app-login>
        </div>
        <div class="col s12 m6">
            <h4>Cadastre-se e aproveite o melhor gerenciador de tarefas do mundo!</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, deleniti dolorum dicta cumque magnam ipsa veniam eaque officiis nam sapiente voluptatibus enim facilis non. Ad quia accusantium laborum delectus qui.
            <app-cadastrar></app-cadastrar>        
        </div>
    </div>
</div>